*{
	padding:0px;
	margin:0px;
}



	.clr:before,
.clr:after {
  content: "";
  display: table;
} 
.clr:after {
  clear: both;
}
.clr{
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body{
	font-family: Arial;

}